$contentClass = '.theme-default-content'

// Custom Dat color overrides 
$accentColor = #2aca4b
$textColor = #293648
$borderColor = #a7afb6
$codeBgColor = #293648
$arrowBgColor = #a7afb6

.search-box .suggestion.focused a
  color $accentColor !important
