// Typography

$type-size-tiny: 14px;
$type-size-small: 16px;
$type-size-base: 18px;
$type-size-medium: 24px;
$type-size-big: 36px;
$type-size-large: 40px;

$type-leading-tiny: 1.25;
$type-leading-small: 1.25;
$type-leading-base: 1.25;
$type-leading-medium: 1.15;
$type-leading-big: 1.10;
$type-leading-large: 1.05;

@mixin type-tiny {
  font-size: $type-size-tiny;
  line-height: $type-leading-tiny;
}

@mixin type-small {
  font-size: $type-size-small;
  line-height: $type-leading-small;
}

@mixin type-base {
  font-size: $type-size-base;
  line-height: $type-leading-base;
}

@mixin type-medium {
  font-size: $type-size-medium;
  line-height: $type-leading-medium;
}

@mixin type-big {
  font-size: $type-size-big;
  line-height: $type-leading-big;
}

@mixin type-large {
  font-size: $type-size-large;
  line-height: $type-leading-large;
}

// TODO: make sure to only request weights of the font that you're using

// Spacing
$space-base: $type-size-base;

$space-tiny: $space-base / 4;
$space-small: $space-base / 2;
$space-medium: $space-base * 2;
$space-large: $space-base * 4;


// Colors
$color-green: #2aca4b;
$color-green-dark: #199e33;
$color-black: #293648;
$color-white: #ffffff;
$color-neutral: #f6f7f8;
$color-gray: #65737f;
$color-gray-light: #a7afb6;
$color-highlight: #94e4a5;



a {
  text-decoration: none;
  color: inherit;
}

p > a {
  text-decoration: underline;
  color: $color-green;
}

p + p { 
  margin-top: $space-base; 
}

p,
.text {
  h1, h2, h3, h4, h5 {
    margin: $space-base 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background: $color-highlight;
  color: $color-black;
}

*::-webkit-selection {
  background: $color-highlight;
  color: $color-black;
}

*::selection {
  background: $color-highlight;
  color: $color-black;
}

body {
  @include type-base;
  background-color: $color-neutral;
  color: $color-black;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

h1 {
  @include type-large;
  font-weight: 700;
}

h2 {
  @include type-big;
  font-weight: 700;
}

h3 {
  @include type-medium;
  font-weight: 700;
}

ul, ol {
  margin: $space-small 0;
  li { 
    margin-left: $space-base;
    margin-bottom: $space-small; 
  }
}

// TODO: make this look really nice;
code {
  color: white;
  background: $color-black;
  font-size: 0.8rem;
  padding: 0.05rem 0.25rem;
  font-weight: 400;
  font-family: monospace;
}

// Breakpoints
$breakpoint-desktop: 1500px;
$breakpoint-laptop: 1250px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;

@mixin mobile {
  @media screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}


// start moving things into these reusable styles, like page headers and subheads and eventually breadcrumbs

.page-title {
  margin-bottom: $space-medium;
}

@mixin text-title {
  margin-bottom: $space-medium;
}

@mixin text-subhead {
  @include type-base;

  @include mobile {
    @include type-medium;
  }
}

@mixin shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

@mixin hover-pop {
  transition: all 250ms ease-in-out;

  &:hover {
    transform: translateY(-$space-tiny);
    cursor: pointer;
  }
}


.tag {
  color: $color-green;
  padding: 3px $type-size-tiny;
  @include type-small;
  border-radius: 20%/50%;
  display: inline-block;
  margin-right: $space-small;
  text-align: center;
  border: 1px solid $color-green;

  &:hover {
    color: $color-white;
    background-color: $color-green;
  }
} 

.button {
  @include hover-pop;
  @include shadow;
  background: $color-green;
  color: $color-white;
  display: inline-block;
  padding: $space-small;
}

// breakpoint helper
// body {
//   background-color: blue;

//   @include mobile {
//     background: red;
//   }

//   @include tablet {
//     background: pink;
//   }

//   @include laptop {
//     background: orange;
//   }

//   @include desktop {
//     background: yellow;
//   }
// }
